:root {
    /* Fondos */
    --bg: #FDFDFD;
    --bg-footer: #F5F6F7;
    --bg-danger: #dc3545;

    /* Textos */
    --text-primary: #212529;
    --text-muted: #6c757d;
    --text-white: #fff;

    /* Bordes y Líneas */
    --line-color: #eaeaea;
    --border-color: #333;
    /* Colores de marca / Acción */
    --primary-color: #1CA3BB;
    --primary-hover: #5970F4;

    /* TOASTS */
    --toast-bg-info: rgba(238, 238, 238, 0.85);
    --toast-bg-danger: rgba(255, 92, 92, 0.8);


}

[data-theme="dark"] {
    /* Fondos */
    --bg: #0F1214;
    --bg-surface: #1e1e1e;
    --bg-header: #101314;

    /* Textos */
    --text-primary: #ECEEF0;
    --text-muted: #ECEEF0;

    /* Bordes y Líneas */
    --border-color: #2d2d2d;

    /* Colores de marca / Acción */
    --primary-color: #3d8bfd;
    --primary-hover: #0b5ed7;
}